---
---

@import "{{ site.theme }}";
nav {
    display: block;
    left: 0%;
    margin-left: 0px;
    top: 0px;
}
body {
    padding-top: 40px;
}
.nav-up {
    top: -40px;
}
menu, ol, ul {
    padding: 0 0 0 10px;
}
li {
    text-align: left;
}
header {
    background: #f5b335;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}
#banner {
    display: none;
}
section {
    margin: 0px auto 20px;
    margin-right: 0px;
}
footer {
    left: 0%;
    margin-left: 0px;
    text-align: left;
}
nav ul li.tag-h1 a {
    font-size: x-large;
}
