---
---

@import "{{ site.theme }}";
nav {
    display: block;
    left: 0%;
    margin-left: 0px;
    top: 0px;
}
menu, ol, ul {
    padding: 0 0 0 10px;
}
li {
    text-align: left;
}
header {
    display: none;
}
#banner {
    display: none;
}
section {
    margin: 0px auto 20px;
    margin-right: 0px;
}
footer {
    left: 0%;
    margin-left: 0px;
    text-align: left;
}
nav ul li.tag-h1 a {
    font-size: x-large;
}
